html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 280px;
  right: 0;
}

/* Write your solution here */


/* Media queries */
/* Tablet */
@media only screen and (min-width: 720px) {

  #bear {
    top: 100px;
    
  }
}

/* Desktop */
@media only screen and (min-width: 1020px) {
  #bear {
    top: 70px;
    left: 120px;
  }
}